.price {
  margin-top: 60px;
  &__items {
    margin-top: 60px;
    padding: 0 50px;
    display: grid;
    grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
    grid-auto-rows: minmax(45px, auto);
    justify-content: space-between;
    row-gap: 15px;
    &-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &-descr {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
    &-title {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: #5cadc0;
        border-radius: 100%;
        top: 4px;
        left: -24px;
      }
    }
  }
}
